*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    padding: 2rem;
    gap: 1rem;
}

.left-section{
    width: 50%;
    padding: 1rem;
}

.right-section{
    background-color: gainsboro;
    width: 50%;
    
}